
* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box; /* Added box-sizing for all elements */
}

body {
    background-color: rgb(212, 212, 212);
}

h1, h2, h3, h4 {
    color: #333;
}

p, label {
    color: #444;
}

/* Form input styles */
input {
    border: none;
    border-bottom: 2px solid #c9bebe;
    padding: 10px 0;
    width: 100%; /* Full-width input on smaller screens */
    box-sizing: border-box; /* Include padding and border in width and height */
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"],
textarea {
    width: 100%; /* Full-width input on smaller screens */
    box-sizing: border-box; /* Include padding and border in width and height */
}

textarea {
    padding: 20px 5px;
}


.header {
    position: relative;
    text-align: center;
    background-color: rgba(41, 22, 6, 0.534);
}

.header::before {
    /* Background image styles */
    /* ... (unchanged) ... */
}

.header img {
    max-width: 100%; /* Full-width image on smaller screens */
    height: auto;
    object-fit: cover;
}

header h2 {
    color: #d40d0d;
    margin-top: 0;
}


.form-container {
    background-color: #ebe4dd;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: -62px;
}

.form-header {
    border-bottom: 1px solid #dfdfdf;
    height: 45px;
}



.form-body {
    padding: 15px; 
}

.form-tittle {
    margin-bottom: 10px; 
}

.form-body p {
    margin-bottom: 15px; 
}


@media screen and (max-width: 896px) {
    h1 {
        font-size: 18px;
    }

    h2, h3, h4, p, label {
        font-size: 14px;
    }

    input {
        width: 100%; 
    }

    .box-input {
        margin-bottom: 20px; 
    }

    .input_image {
        max-width: 100%; 
    }

    .form-container {
        width: 100%;
        top: -12px;
    }
}
